#searchResults {
  /* width: 90%;
    margin: auto; */
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 50px;
}

#searchResults > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cecece;

  padding: 10px;
}
